.headhead{
    display: flex;
}
.head{
   background-color: #3f51b5;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-height: 95px;
}
.head2 {
}
.head-img{
    margin-top: 10px;
    margin-bottom: 5px;
    background: url("../../assets/head.jpg");
    background-repeat: no-repeat;
    height: 80px;
    width: 100px;
    background-size:contain;
    background-position: center;
}
.head h1 {
    color:white;
    margin-top: 5px;
    margin-left: 100px;
    margin-bottom: 0px;
    font-family: fantasy;
    font-size: 2em;
}