<div class="headhead">
    <div class="head">
        <h1>Verleihnix</h1>
    </div>
    <div class="head2">
        <div class="head-img"></div>
    </div>
</div>
<div style="position: relative;">
  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link
       [routerLink]="['./borrow']"
       routerLinkActive #rlaborrow="routerLinkActive"
       [active]="rlaborrow.isActive">
        Ausleihen
    </a>
    <a mat-tab-link
       [routerLink]="['./requests']"
       routerLinkActive #rlarequests="routerLinkActive"
       [active]="rlarequests.isActive">
       <span>Anfragen</span>
       <!-- <span style="margin-left:15px;" *ngIf="countNewMsg > 0" matBadge="{{countNewMsg}}"></span> -->
        
    </a>
    <a mat-tab-link
       [routerLink]="['./mydevices']"
       routerLinkActive #rladevices="routerLinkActive"
       [active]="rladevices.isActive">
        Geräte
    </a>
  </nav>
  <div style="position: absolute;top:0;right:0;">
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="personalEdit()">
          <mat-icon>person</mat-icon>
          <span>Benutzerdaten ändern</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>logout</mat-icon>
          <span>Abmelden</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
