<h1 *ngIf="data.id == -1" mat-dialog-title>Gerätepool hinzufügen</h1>
<h1 *ngIf="data.id != -1" mat-dialog-title>Gerätepool bearbeiten</h1>
<div mat-dialog-content>
  <p></p>
  <mat-form-field>
      <input matInput cdkFocusInitial [(ngModel)]="data.description" placeholder="Beschreibung">
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button [disabled]="!data.description" mat-button [mat-dialog-close]="data">Ok</button>
  <button mat-button [mat-dialog-close]="undefined">Abbrechen</button>
</div>