.message-container {
    position: absolute;
    bottom: 95px;
    left: 0;
    right: 0;
    top:225px;
    overflow: auto;
}
.new-message{
    height: 65px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-top:15px;
    padding-bottom: 15px;
}
.new-message form mat-form-field {
    width: 80%;
}
.new-message form mat-form-field textarea {
    resize: none;
}
.speech-date {
    color: gray;
    font-size: 0.7em;
}

.chat-line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px; 
}
.chat-line .front{
    margin-left: 15px;
    margin-right: auto;
}
.chat-line .end{
    margin-left: auto;
    margin-right: 15px;
}

p.speech-bubble {
	position: relative;
	max-width: 30em;
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 0.75em;
	border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

p.speech-bubble::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em;
	border: .75rem solid transparent;
	border-top: none;

	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}
.chat-line .end p.speech-bubble::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
    top: 100%;
    left: inherit;
	right: 1.5em;
	border: .75rem solid transparent;
	border-top: none;

	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
	transform: rotate(180deg);
}