mat-list {
    width: 90%;
    min-width:300px;
}
.request h4, 
.request p {
    margin: 10px 0px 10px 0px;
}
.request{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.request-info{
    margin-left: 15px;
    margin-right: auto;
}
.request-action{
    margin-left: auto;
}

.request-action div {
    display: inline-block;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:rgb(66, 134, 244); 
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:rgb(66, 134, 244);
    background-color:rgb(66, 134, 244) ;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgb(255, 37, 37,.26)
}